<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id= "main_navigation" class = "clearfix">
      <%= link_to root_path do%>
        <p class="name">Ascardi Wall</p>
      <%end%>
      <nav>
        <a href="#"><%=link_to "Articles", posts_path%></a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>

      <footer id="main_footer" class="clearfix" >
    
      <p class="copyright"> &copy; 2016 Ascardi Wall</p>
      <nav>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </nav>
    </footer>


    <%= yield %>
  </body>
</html>
